body {
    margin: 0;
	margin: 0px;
	padding: 0px;
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;
	line-height: 2;	
}

.ch-color {
    color: red;
    font-size: 1.5em;
}
.viewpadding {
    padding: 10px;
}

.bg-image {
    background-color: #292a36;
    background-repeat: no-repeat;
    background-position: center center;   
    background-attachment: fixed; 
    background-size: cover;
}
.bg-mask {
    background: rgba(255,255,255,1);
    margin-left: 20vh;
    margin-right: 20vh;
    margin-block-end: 0;
}


.alpha-inner h1 {
    border-bottom: solid 3px #cce4ff;
    border-bottom-left-radius: 50%;
    position: relative;
	text-align: center;
	font-size: 50px;
  }
  
  .alpha-inner h1:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 4px #5472cd;
    bottom: -3px;
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
  }
.alpha-inner h4 {
    font-size: 20px;
    text-align: center;
}

img:hover {
    opacity: 0.5;
}
.footer {
    border-top-color: black;
    background-color: #661122;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer-inner {
    padding-block-start: 10px;
    padding-block-end: 10px;
    text-align: center;
}
.footer-inner p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.footer-inner h2 {
    color: white;
    margin: 0;
    font-size: 20px;
}

.footer-inner a {
    color: aqua;
}